KUAISHOU_API_BASE=https://ad.e.kuaishou.com
KUAISHOU_APP_ID=
KUAISHOU_SECRET=
KUAISHOU_AUTH_USER_ID=
KUAISHOU_ACCESS_TOKEN=
KUAISHOU_REFRESH_TOKEN=
KUAISHOU_ADVERTISER_ID=

KS_DB_PATH=data/kuaishou.db
KS_PAGE_SIZE=100
